<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{web/fragments/layout}">
<head>
    <title>Enrol Student</title>
</head>
<body>

<div layout:fragment="content" class="content">
<!-- PAGE TITLE -->
    <div class="page-title">
        <div class="card bg-info text-white">
            <div class="card-body"><h5>Enrol Student</h5></div>
        </div>
    </div>
<!-- END PAGE TITLE -->


     <form class="needs-validation" id="enrolSearchForm"  th:action="@{/enrol-student/search}" name="form1"  method="post" novalidate>
         <div class="row">
         <div class="col-3">
             <div class="form-group">
                 <label class="control-label mb-1" for="studentName">Student Name</label>
                 <input  id="studentName" type="text" class="form-control" aria-required="true" aria-invalid="false"
                         name ="studentName" th:value="${studentName}" placeholder="Student Name"/>
             </div>
         </div>

         <div class="col-3">
             <div class="form-group">
                 <label class="control-label mb-1" for="sessionId">Session</label>
                 <select id="sessionId"  name="sessionId"style="height:37px" class="form-control" aria-required="true" aria-invalid="false"  >
                     <option value="">Select</option>
                     <option th:each="sList:${sessionList}"
                             th:value="${sList.id}"
                             th:utext="${sList.sessionName}"/>
                 </select>
             </div>
         </div>

         <div class="col-3">
             <div class="form-group">
                 <label class="control-label mb-1" for="programId">Program</label>
                 <select id="programId"  name="programId"style="height:37px" class="form-control" aria-required="true" aria-invalid="false"  >
                     <option value="">Select</option>
                     <option th:each="pList:${programList}"
                             th:value="${pList.id}"
                             th:utext="${pList.programName}"/>
                 </select>
             </div>
         </div>

         <div class="col-3">
             <div class="form-group">
                 <label class="control-label mb-1" for="programSegmentId">Segment</label>
                 <select id="programSegmentId"  name="programSegmentId"style="height:37px" class="form-control" aria-required="true" aria-invalid="false"  >
                     <option value="">Select</option>
                     <option th:each="seList:${segmentList}"
                             th:value="${seList.id}"
                             th:utext="${seList.segmentName}"/>
                 </select>
             </div>
         </div>
         </div>
<div class="row">
         <div class="col-3">
             <div class="form-group">
                 <label class="control-label mb-1" for="batchId">Batch</label>
                 <select id="batchId"  name="batchId"style="height:37px" class="form-control" aria-required="true" aria-invalid="false"  >
                     <option value="">Select</option>
                     <option th:each="bList:${batchInfoList}"
                             th:value="${bList.id}"
                             th:utext="${bList.batchName}"/>
                 </select>
             </div>
         </div>


         <div class="col-3">
             <div class="form-group">
                 <label class="control-label mb-1" for="contactNo">Contact Number</label>
                 <input  id="contactNo" type="text" class="form-control" aria-required="true" aria-invalid="false" name ="contactNo" th:value="${contactNo}" placeholder="Contact No" >

             </div>
         </div>


         <div class="col-3">
             <div class="form-group">
                 <label class="control-label mb-1">Date of Birth</label>
                 <input id="doB" type="date" class="form-control" aria-required="true" aria-invalid="false"  name="doB" placeholder="doB" th:value="${doB}" >

             </div>
         </div>

    <div class="col-1">
            <div class="custom-control custom-checkbox">
                <label class="control-label mb-1">New</label>
                <input type="checkbox" class="checkbox" id="isNewChk" name="isNewChk" >

            </div>
            <!--<input type="checkbox"      th:field="*{newss}"      class="form-control" aria-required="true" aria-invalid="false" th:field="*{active}"-->
<!--        </div>-->
    </div>

    <div class="col-1">
            <div class="custom-control custom-checkbox">
                <label class="control-label mb-1">Enroll</label>
                <input type="checkbox" id="isEnrolChk" class="checkbox" name="isEnrolChk"   >

            </div>
            <!--<input type="checkbox"    th:field="*{enrol}"   class="form-control" aria-required="true" aria-invalid="false" th:field="*{active}" onclick="showNextSegment();"-->
<!--        </div>-->
    </div>
</div>

       <div class="col-sm-12 text-right">

             <input type="submit" id="searchBtn" value="Search" class="btn btn-primary btn-md" onclick="myFunction()" style="margin-top: 24px;">
             <a style="margin-top: 24px;" class="btn btn-secondary" th:href="@{/enrol-student/search}" >Refresh</a>
             <!--             <a class="btn btn-primary btn-md" style="margin-top: 24px;" th:href="@{/homecontroller}">Home</a>-->

         </div>

     </form>



    <br/>
    <div th:replace="web/pages/enrol-student/search-result :: search-result"></div>


    <script>
//for tow checkedBox unchecked
        $("#searchBtn").click(function(e) {
             e.preventDefault();
            var newChk=$('#isNewChk').prop("checked");
            var enrolChk=$('#isEnrolChk').prop("checked");

           if (newChk==false && enrolChk==false  ) {
               alert("Check new or enroll checkbox");

           }

           else {
               $("#enrolSearchForm").submit();
           }
    });



// var checkboxValues = JSON.parse(localStorage.getItem('checkboxValues')) || {},
//     $checkboxes = $("#checkbox-container :checkbox");
//
// $checkboxes.on("change", function(){
//     $checkboxes.each(function(){
//         checkboxValues[this.id] = this.checked;
//     });
//
//     localStorage.setItem("checkboxValues", JSON.stringify(checkboxValues));
// });
//
// // On page load
// $.each(checkboxValues, function(key, value) {
//     $("#" + key).prop('checked', value);
// });


// !$('#isEnrolChk').is(":checked")
// $('#searchBtn').click(function()
// $('#enrolSearchForm').submit(function(){
//     if($('#searchBtn').click){
//         $('#isEnrolChk').prop("checked",true);
//     }
//     else{
//         $('#isEnrolChk').prop("checked",false);
//     }
// });

    </script>



</div> <!-- end layout -->



</body>
</html>