<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{web/fragments/layout}">
<head>
    <title>Enrol Student</title>
</head>
<body>

<div layout:fragment="content" class="content">
<!-- PAGE TITLE -->
    <div class="page-title">
        <div class="card bg-info text-white">
            <div class="card-body"><h5>Enrol Student</h5></div>
        </div>
    </div>
<!-- END PAGE TITLE -->
 <div id="search">

     <form class="needs-validation"  th:action="@{/enrol-student/list}" name="form1"  method="post" novalidate>
         <div class="row">
         <div class="col-3">
             <div class="form-group">
                 <label class="control-label mb-1" for="studentName">Student Name</label>
                 <input  id="studentName" type="text" class="form-control" aria-required="true" aria-invalid="false"
                         name ="studentName" th:value="${studentName}" placeholder="Student Name"/>
<!--                 <select  name="studentRegistrationId"style="height:37px" class="form-control" aria-required="true" aria-invalid="false"  >-->
<!--                     <option value="">Select</option>-->
<!--                     <option th:each="sRList:${studentRegistrationInfoList}"-->
<!--                             th:value="${sRList.id}"-->
<!--                             th:utext="${sRList.studentName}"/>-->
<!--                 </select>-->
             </div>
         </div>

         <div class="col-3">
             <div class="form-group">
                 <label class="control-label mb-1" for="sessionId">Session</label>
                 <select id="sessionId"  name="sessionId"style="height:37px" class="form-control" aria-required="true" aria-invalid="false"  >
                     <option value="">Select</option>
                     <option th:each="sList:${sessionList}"
                             th:value="${sList.id}"
                             th:utext="${sList.sessionName}"/>
                 </select>
             </div>
         </div>

         <div class="col-3">
             <div class="form-group">
                 <label class="control-label mb-1" for="programId">Program</label>
                 <select id="programId"  name="programId"style="height:37px" class="form-control" aria-required="true" aria-invalid="false"  >
                     <option value="">Select</option>
                     <option th:each="pList:${programList}"
                             th:value="${pList.id}"
                             th:utext="${pList.programName}"/>
                 </select>
             </div>
         </div>

         <div class="col-3">
             <div class="form-group">
                 <label class="control-label mb-1" for="programSegmentId">Segment</label>
                 <select id="programSegmentId"  name="programSegmentId"style="height:37px" class="form-control" aria-required="true" aria-invalid="false"  >
                     <option value="">Select</option>
                     <option th:each="seList:${segmentList}"
                             th:value="${seList.id}"
                             th:utext="${seList.segmentName}"/>
                 </select>
             </div>
         </div>
         </div>
<div class="row">
         <div class="col-3">
             <div class="form-group">
                 <label class="control-label mb-1" >Batch</label>
<!--                 <select id="batchId"  name="batchId"style="height:37px" class="form-control" aria-required="true" aria-invalid="false"  >-->
<!--                     <option value="">Select</option>-->
<!--                     <option th:each="bList:${batchInfoList}"-->
<!--                    for="batchId"         th:value="${bList.id}"-->
<!--                             th:utext="${bList.batchName}"/>-->
<!--                 </select>-->
             </div>
         </div>


         <div class="col-3">
             <div class="form-group">
                 <label class="control-label mb-1" for="contactNo">Contact Number</label>
                 <input  id="contactNo" type="text" class="form-control" aria-required="true" aria-invalid="false" name ="contactNo" th:value="${contactNo}" placeholder="Contact No" >
<!--                 <select  name="studentRegistrationId"style="height:37px" class="form-control" aria-required="true" aria-invalid="false"  >-->
<!--                     <option value="">Select</option>-->
<!--                     <option th:each="sRList:${studentRegistrationInfoList}"-->
<!--                             th:value="${sRList.id}"-->
<!--                             th:utext="${sRList.contactNo}"/>-->
<!--                 </select>-->
             </div>
         </div>


         <div class="col-3">
             <div class="form-group">
                 <label class="control-label mb-1">Date of Birth</label>
                 <input id="doB" type="date" class="form-control" aria-required="true" aria-invalid="false"  name="doB" placeholder="doB" th:value="${doB}" >
<!--                 <select  name="studentRegistrationId"style="height:37px" class="form-control" aria-required="true" aria-invalid="false"  >-->
<!--                     <option value="">Select</option>-->
<!--                     <option th:each="sRList:${studentRegistrationInfoList}"-->
<!--                             th:value="${sRList.id}"-->
<!--                             th:utext="${sRList.doB}"/>-->
<!--                 </select>-->
             </div>
         </div>

    <div class="col-1">
<!--        <div class="form-group">-->
<!--            <label class="control-label mb-1">New</label>-->
            <!-- Default checked -->
            <div class="custom-control custom-checkbox">
                <label class="control-label mb-1">New</label>
                <input type="checkbox" class="checkbox" name="new" id="showList">

            </div>
            <!--<input type="checkbox" class="form-control" aria-required="true" aria-invalid="false" th:field="*{active}"-->
<!--        </div>-->
    </div>

    <div class="col-1">
<!--        <div class="form-group">-->
<!--            <label class="control-label mb-1">Enrol</label>-->
            <!-- Default checked -->
            <div class="custom-control custom-checkbox">
                <label class="control-label mb-1">Enrol</label>
                <input type="checkbox" class="checkbox" name="promoted" onclick="showNextSegment();" >

            </div>
            <!--<input type="checkbox" class="form-control" aria-required="true" aria-invalid="false" th:field="*{active}"-->
<!--        </div>-->
    </div>
</div>

       <div class="col-sm-12 text-right">

             <input type="submit" value="Search" class="btn btn-primary btn-md" style="margin-top: 24px;">
             <a style="margin-top: 24px;" class="btn btn-secondary" th:href="@{/enrol-student/search}" >Refresh</a>
             <!--             <a class="btn btn-primary btn-md" style="margin-top: 24px;" th:href="@{/homecontroller}">Home</a>-->

         </div>

<!--         <div class="row">-->

<!--             <div class="col-3">-->
<!--                 <div class="form-group">-->
<!--                     <label class="control-label mb-1">New</label>-->
<!--                     &lt;!&ndash; Default checked &ndash;&gt;-->
<!--                     <div class="custom-control custom-checkbox">-->
<!--                         <input type="checkbox" class="checkbox" name="new">-->

<!--                     </div>-->
<!--                     &lt;!&ndash;<input type="checkbox" class="form-control" aria-required="true" aria-invalid="false" th:field="*{active}"&ndash;&gt;-->
<!--                 </div>-->
<!--             </div>-->

<!--         <div class="col-3">-->
<!--             <div class="form-group">-->
<!--                 <label class="control-label mb-1">Enrol</label>-->
<!--                 &lt;!&ndash; Default checked &ndash;&gt;-->
<!--                 <div class="custom-control custom-checkbox">-->
<!--                     <input type="checkbox" class="checkbox" name="promoted" onclick="showNextSegment();" >-->

<!--                 </div>-->
<!--                 &lt;!&ndash;<input type="checkbox" class="form-control" aria-required="true" aria-invalid="false" th:field="*{active}"&ndash;&gt;-->
<!--             </div>-->
<!--         </div>-->


<!--         <div class="col-3">-->
<!--             <div class="form-group">-->

<!--                 <input  type="text" class="form-control"  name="nextSegment" placeholder="Next Segment" >-->
<!--                 &lt;!&ndash; Default checked &ndash;&gt;-->
<!--                 &lt;!&ndash; 	  	<div class="custom-control custom-checkbox">-->
<!--                                  <input type="checkbox" class="custom-control-input" id="defaultChecked2"  checked>-->
<!--                                 <label class="custom-control-label" for="defaultChecked2"></label>-->
<!--                             </div> &ndash;&gt;-->
<!--                 &lt;!&ndash;<input type="checkbox" class="form-control" aria-required="true" aria-invalid="false" th:field="*{active}"&ndash;&gt;-->
<!--             </div>-->
<!--         </div>-->

<!--         </div>-->

     </form>


 </div>
    <br/>
    <div th:replace="web/pages/enrol-student/search-result :: search-result"></div>


    <script th:inline="javascript">
        // $(document).ready(function () {
        //     const upzillaId = /*[[${loanApplicationForm.upzillaId}]]*/ "";
        //     loadUpzilla(upzillaId);
        //     const samityMemberId = /*[[${loanApplicationForm.samityMemberId}]]*/ "";
        //     loadSamityMemberAndGroup(samityMemberId);
        //     const bankBranchId = /*[[${loanApplicationForm.bankBranchId}]]*/ "";
        //     loadBankBranch(bankBranchId);
        //
        //     /*this part added by sohel rana on 23/12/19 at 10.29 AM */
        //     const bankId = /*[[${loanApplicationForm.bankId}]]*/ "";
        //     loadBank(bankId);
        //
        //     const branchId=[[${loanApplicationForm.bankBranchId}]];
        //     const bId=[[${loanApplicationForm.bankId}]];
        //     loadBankBranchSelect(bId,branchId);
        //
        //
        //     /*the part is end here */
        // });
        //
        // function addLoanHistory() {
        //     event.preventDefault();
        //     const orgName = $('#previousLoanOrgName').val();
        //     const loanAmount = parseFloat($('#previousLoanAmount').val());
        //     var row = parseInt($('#historyCount').val());
        //     if (orgName != null && orgName !== "" && !isNaN(loanAmount)) {
        //         $('#loanHistoryGrid > tbody:last-child').append('<tr>' +
        //             '<td>NEW</td>\n' +
        //             '<td><input type="hidden" name=loanHistoryForms[' + row + '].id" value="null">' +
        //             '<input type="text" class="form-control-plaintext" name="loanHistoryForms[' + row + '].orgName" value="' + orgName + '">' +
        //             '</td>' +
        //             '<td><input type="text" class="form-control-plaintext" name="loanHistoryForms[' + row + '].loanAmount" value="' + loanAmount + '"></td>' +
        //             '</tr>');
        //         row++;
        //         $('#historyCount').val(row);
        //     }
        //     $('#previousLoanOrgName').val('');
        //     $('#previousLoanAmount').val('');
        // };
        // $(document).ready(function () {
        //     $('.select2').select2({
        //         width: "100%"
        //     });
        // });

        $(document).ready(function() {
            //set initial state.
            $('#showList').change(function() {
                if ($(this).is(':checked')) {
                    $('#myTable').attr("disabled", false)
                }
                else
                {
                    $('#myTable').attr("disabled", true)
                }
            });
        });
        /*the part is end here */


    </script>

</div>
</body>
</html>