<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{web/fragments/layout}">
<head>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            $('#userRefId').select2();
            // alert("test");
            enableDisable();
        });
        function enableDisable() {
            // alert("fire");
            if (document.form2.individual.checked) {
                document.form2.sessionId.disabled = false;
                document.form2.programId.disabled = false;
                document.form2.programSegmentId.disabled = false;
            } else {
                document.form2.sessionId.disabled = true;
                document.form2.programId.disabled = true;
                document.form2.programSegmentId.disabled = true;
            }
        }
    </script>
    <title>Charge information</title>
</head>
<body>
<div layout:fragment="content" class="content">
    <!-- PAGE TITLE -->
    <div class="page-title">
        <div class="card bg-info text-white">
            <div class="card-body" ><h3>charge schedule</h3></div>
        </div>
    </div>
    <!-- customized code -->
    <div class="row justify-content-center">
        <!--<div class="col-sm-8 text-right">
            <div class="col-sm-4 text-left">
                <input type="text" th:value="${message}" readonly
                    style="color: limegreen; background-color: white; display: block; border: none;">
            </div>
            <a class="btn btn-success btn-sm"
               th:href="@{/chargeGroupSearchController/search/init}">View</a> <a
                class="btn btn-info  btn-sm"
                th:href="@{/chargeGroupController/home}">Home</a>
        </div>
      -->
        <div class="col-lg-12">
            <div class="card">
                <!-- <div class="card-header">
                     <strong class="card-title">Charge Group</strong>
                 </div>-->
                <div>
                    <div class="card-body">
                        <form class="needs-validation"  method="POST">
                            <div class="row">
                                <div class="col-md-2" hidden>
                                    <div class="form-group row">
                                        <label class="col-md-2 "> id</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" name="chargeGroupIdMst"
                                                   readonly />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-7">
                                    <div class="form-group row">
                                        <label class="col-md-4"> charge group</label>
                                        <div class="col-md-6">
                                            <input type="text" id="chargeGroupName"  sstyle="height: 37px; width: 230px"  class="form-control"
                                                   name="chargeGroupName"  />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">Charge Cycle</label>
                                        <div class="col-md-5">

                                            <select id="chargeCycle"
                                                    style="height: 37px; width: 180px" class="form-control"
                                                    aria-required="true" aria-invalid="false" required>

<!--                                                <option value="0">select</option>-->
<!--                                                <option value="1">daily</option>-->
<!--                                                <option value="1">Monthly</option>-->
<!--                                                <option value="2">quaterly</option>-->
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->
                            <div class="row">

                                <div class="col-md-7">
                                    <div class="form-group row">
                                        <label class="col-md-4 control-label">Session</label>
                                        <div class="col-md-6">

                                            <select id="sessionId1"
                                                    style="height: 37px; width: 230px" class="form-control"
                                                    aria-required="true" aria-invalid="false" required>

<!--                                                <option value="">select</option>-->

<!--                                                <option th:each="slist:${sessionList}"-->
<!--                                                        th:value="${slist.id}"-->
<!--                                                        th:utext="${slist.sessionName}" />-->
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <div class="form-group row">
                                        <label class="col-md-5 control-label">Program</label>
                                        <div class="col-md-5">

                                            <select id="programId1"
                                                    style="height: 37px; width: 180px" class="form-control"
                                                    aria-required="true" aria-invalid="false" required>
<!--                                                <option value="">select</option>-->

<!--                                                <option th:each="plist:${programs}"-->
<!--                                                        th:value="${plist.id}"-->
<!--                                                        th:utext="${plist.programName}" />-->
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-7">
                                    <div class="form-group row">
                                        <label class="col-md-4 control-label">Program Segment</label>
                                        <div class="col-md-6">
                                            <select id="programSegmentId1"
                                                    style="height: 37px; width: 230px" class="form-control"
                                                    aria-required="true" aria-invalid="false" required>
<!--                                                <option value="">select</option>-->
<!--                                                <option th:each="pslist:${segmentList}"-->
<!--                                                        th:value="${pslist.id}"-->
<!--                                                        th:utext="${pslist.segmentName}" />-->
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row  form-horizontal">
                                <div class="col-12">
                                    <div class="float-right">

                                        <input type="submit" value="save" style="margin-bottom: 2px;"
                                               class="btn btn-success btn-md"> <a
                                            style="margin-bottom: 2px;" class="btn btn-info"
                                            th:href="@{/schedule/charge-schedule}">Refresh</a>

                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>

                </div>

            </div>
            <!-- end card1   group -->

            <div class="card" id="cItem">

                <div class="card card bg-info text-white">
                    <strong class="card-title"><h5>charge item</h5></strong>
                </div>
                <div>
                    <div class="card-body">
                        <table id="itemTable" class="table table-striped table-bordered display nowrap"
                                                                           style="width: 100%">
                            <thead>

                            <tr>
                                <th>Item Name</th>
                                <th>Rate</th>
                                <th>Currency</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr >
                                <td></td>
                                <td></span></td>
                                <td></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                </div>

            </div>
            <!-- card2 item -->
            <div class="card" id="dateCard ">
         <div class="row">
             <div class="col-4">
                 <div class="form-group row">
                     <label class="col-md-4 control-label">Start Date</label>
                     <div class="col-md-6">
                         <input type="date"   style="height: 37px; width: 220px" />

                     </div>
                 </div>
             </div>

             <div class="col-4">
                 <div class="form-group row">
                     <label class="col-md-4 control-label">End Date</label>
                     <div class="col-md-6">
                         <input type="date"  style="height: 37px; width: 220px"/>

                     </div>
                 </div>
             </div>

             <div class="col-md-4 text-right">
                 <a style="margin-top: 24px;" class="btn btn-success btn-md" >populate</a>
             </div>

         </div>

            </div> <!-- end date card -->

     <!--    start bill date    -->
            <div class="card" id="cBill">

                <div class="card card bg-info text-white">
                    <strong class="card-title"><h5>Bill</h5></strong>
                </div>
                <div>
                    <div class="card-body">
                        <table id="billTable" class="table table-striped table-bordered display nowrap"
                               style="width: 100%">
                            <thead>

                            <tr>
                                <th>Group Name</th>
                                <th>Bill Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr >
                                <td></td>
                                <td></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-12 text-right">
                 <a style="margin-top: 24px;" class="btn btn-success btn-md" >save</a>
             </div>

            </div>
            <!-- card2 -->
     <!-- end bill date   -->
        </div>
    </div>
</div>

</body>
</html>