<div th:fragment="educational-qualification" xmlns:th="http://www.w3.org/1999/xhtml">


    <form th:object="${studentEducationPastForm}"
          th:action="@{/student-registration/save-student-education}"
          method="POST">


        <div class="row">

            <div class="col-6">
                <div class="form-group row">
                    <label for="id" class="col-md-4 control-label">Student Education Past ID</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control"
                              id="id"
                               placeholder="Student Education Past ID"
                               th:field="*{id}" readonly>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group row">
                    <label class="col-md-4 control-label" for="examName">Exam Name <span style="color: red">*</span></label>
                    <div class="col-md-8">
                        <select style="height: 37px"
                                th:class="${#fields.hasErrors('examName')} ? 'form-control is-invalid' : 'form-control'"
                                class="form-control" aria-required="true"
                                aria-invalid="false" id="examName" th:field="*{examName}" >
                            <option value="">Select</option>
                            <option value="HSC">H.S.C</option>
                            <option value="SSC">S.S.C</option>
                        </select>
                        <div th:if="${#fields.hasErrors('examName')}" th:errors="*{examName}"
                             class="invalid-feedback"></div>
                    </div>
                </div>
            </div>
<!--            <div class="col-6">-->
<!--                <div class="form-group row">-->
<!--                    <label for="studentRegistrationId" class="col-md-4 control-label">Student Registration ID</label>-->
<!--                    <div class="col-md-8">-->
<!--                        <input type="text" class="form-control"-->
<!--                               id="studentRegistrationId"-->
<!--                               placeholder="Student Registration ID"-->
<!--                               th:field="*{studentRegistrationId}"-->
<!--                               readonly>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>


        <div class="row">

            <div class="col-6">
                <div class="form-group row">
                    <label class="col-md-4 control-label" for="boardName" >Board Name <span style="color: red">*</span></label>
                    <div class="col-md-8">
                        <select style="height: 37px"
                                th:class="${#fields.hasErrors('boardName')} ? 'form-control is-invalid' : 'form-control'"
                                class="form-control" aria-required="true"
                                aria-invalid="false" id="boardName" th:field="*{boardName}">
                            <option value="">Select</option>
                            <option value="Barisal">Barisal</option>
                            <option value="Chittagong">Chittagong</option>
                            <option value="Cumilla">Cumilla</option>
                            <option value="Dhaka">Dhaka</option>
                            <option value="Jashore">Jashore</option>
                            <option value="Mymensingh">Mymensingh</option>
                            <option value="Rajshahi">Rajshahi</option>
                            <option value="Sylhet">Sylhet</option>
                            <option value="Dinajpur">Dinajpur</option>
                        </select>
                        <div th:if="${#fields.hasErrors('boardName')}" th:errors="*{boardName}"
                             class="invalid-feedback"></div>
                    </div>
                </div>
            </div>

           <div class="col-6">
                <div class="form-group row">
                    <label class="col-md-4 control-label" for="groupName">Group Name <span style="color: red">*</span></label>
                    <div class="col-md-8">
                        <select  style="height: 37px"
                                 th:class="${#fields.hasErrors('groupName')} ? 'form-control is-invalid' : 'form-control'"
                                class="form-control" aria-required="true"
                                aria-invalid="false"   id="groupName" th:field="*{groupName}">
                            <option value="">Select</option>
                            <option value="Science">Science</option>
                            <option value="Business_study">Business study</option>
                            <option value="Humanities">Humanities</option>
                        </select>
                        <div th:if="${#fields.hasErrors('groupName')}" th:errors="*{groupName}"
                             class="invalid-feedback"></div>
                    </div>
                </div>

            </div>
        </div>

       <div class="row">

            <div class="col-6">
                <div class="form-group row">
                    <label class="col-md-4 control-label" for="rollNo">Roll No</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control"
                               placeholder="Roll No" id="rollNo" th:field="*{rollNo}">
                    </div>
                </div>
            </div>


            <div class="col-6">
                <div class="form-group row">
                    <label class="col-md-4 control-label"for="regNo">Registration No
<!--                        <span style="color: red" >*</span>-->
                    </label>
                    <div class="col-md-8">
                        <input type="text" class="form-control"
                               placeholder="Registration No"  id="regNo" th:field="*{regNo}">
                    </div>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-6">
                <div class="form-group row">
                    <label class="col-md-4 control-label" for="gpa">GPA
                        <span style="color: red">*</span>
                    </label>
                    <div class="col-md-8">
                        <input type="text" id="gpa" class="form-control"
                               th:class="${#fields.hasErrors('gpa')} ? 'form-control is-invalid' : 'form-control'"
                               placeholder="GPA"   th:field="*{gpa}"/>
                        <div th:if="${#fields.hasErrors('gpa')}" th:errors="*{gpa}"
                             class="invalid-feedback"></div>
                    </div>
                </div>
            </div>


            <div class="col-6">
                <div class="form-group row">
                    <label class="col-md-4 control-label" for="marksBiology">Marks Biology
                        <span style="color: red">*</span>
                    </label>
                    <div class="col-md-8">
                        <input type="text" class="form-control"
                               th:class="${#fields.hasErrors('marksBiology')} ? 'form-control is-invalid' : 'form-control'"
                               placeholder="Marks Biology"  id="marksBiology" th:field="*{marksBiology}"/>
                        <div th:if="${#fields.hasErrors('marksBiology')}" th:errors="*{marksBiology}"
                             class="invalid-feedback"></div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">

            <div class="col-6">
                <div class="form-group row">
                    <label class="col-md-4 control-label" for="yearPassed">Year Passed
                        <span style="color: red">*</span>
                    </label>
                    <div class="col-md-8">
                        <input type="text"  class="form-control" id="yearPassed"
                               th:class="${#fields.hasErrors('yearPassed')} ? 'form-control is-invalid' : 'form-control'"
                               placeholder="Year Passed"  th:field="*{yearPassed}"/>
                        <div th:if="${#fields.hasErrors('yearPassed')}" th:errors="*{yearPassed}"
                             class="invalid-feedback"></div>
                    </div>
                </div>
            </div>



            <div class="col-6">
                <div class="form-group row">
                    <label class="col-md-4 control-label" for="remarks">Remark </label>
                    <div class="col-md-8">
                        <textarea rows="2" class="form-control" id="remarks"
                                  th:field="*{remarks}"></textarea>

                    </div>
                </div>
            </div>

<!--            <div class="col-6">-->
<!--                <div class="form-group row">-->
<!--                    <label class="col-md-4 control-label" for="remarks">Remarks<span-->
<!--                            style="color: red"></span></label>-->
<!--                    <div class="col-md-8">-->
<!--                        <input type="text" class="form-control"-->
<!--                               placeholder="Remarks"  id="remarks" th:field="*{remarks}">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

        </div>



        <br>

        <div class="modal-footer">
            <input type="submit" value="Save" class="btn btn-success" style="margin-top: 24px;">
            <a style="margin-top: 24px;" class="btn btn-primary btn-md"
               th:href="@{/student-registration/student-education/update/{id}(id=${id})}" id="refreshBtn">Refresh</a>
        </div>

        <br> <br>
    </form>

 <!--   <button class="btn btn-xl btn-primary" id="addLoom" type="button" style="margin-top: 15px">তাঁতের সংখ্যা(+)</button>  -->


    <div class="row" style="margin-top: 15px">
        <div class="col-12">
            <div class="card card-table-border-none" >
                <div class="card-body pt-5 pb-5">
                    <table class="table table-responsive table-responsive-large" id="memberList">
                        <div class="card bg-info text-white" >
                            <div class="card-title"><h5>Educational Qualification List</h5></div>
                        </div>
                        <thead  class="thead-light">
                            <tr>
                                <th hidden>Student Education Past ID</th>
                                <th hidden>Student Registration Id</th>
                                <th>Exam Name</th>
                                <th>Group Name</th>
                                <th>Board Name</th>
                                <th>Year Passed</th>
                                <th>Roll No</th>
                                <th>Registration No</th>
                                <th>GPA</th>
                                <th>Marks Biology</th>
<!--                                <th>Remark</th>-->
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr th:each="mSEPList:${educationPastDataList}">

                                <td hidden><span th:text="${mSEPList.id}"></span></td>
                                <td hidden><span
                                        th:text="${mSEPList.studentRegistrationId}"></span></td>
                                <td><span th:text="${mSEPList.examName}"></span></td>
                                <td><span th:text="${mSEPList.groupName}"></span></td>
                                <td><span th:text="${mSEPList.boardName}"></span></td>
                                <td><span th:text="${mSEPList.yearPassed}"></span></td>
                                <td><span th:text="${mSEPList.rollNo}"></span></td>
                                <td><span th:text="${mSEPList.regNo}"></span></td>
                                <td><span th:text="${mSEPList.gpa}"></span></td>
                                <td><span th:text="${mSEPList.marksBiology}"></span></td>
<!--                                <td><span th:text="${mSEPList.remarks}"></span></td>-->

<!--                                <td style=""><textarea rows="2" cols="60"-->
<!--                                                       th:text="${mSEPList.remarks}" readonly>-->
<!--                                              </textarea>-->
                                <td>
                                    <a  class="btn btn-success btn-sm" th:href="@{/student-registration/student-education/update/{id}(id=${mSEPList.id})}">Edit</a>

                                </td>

                            </tr>

                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>



    <script>
        $("#memberList").on('click','tr',function(){
            var $row = $(this).closest("tr");    // Find the row
            var id = $row.find(".populateMemberId").text();
            var formData= {
                "id" :id
            };
            $('#memberMachineTypeListTable tbody').empty();
            $.ajax({
                type : "GET",
                url:"/samityOldController/getMemberMachineTypeList",
                dataType : 'json',
                data: formData,
                success: function(result){
                    $.each(result, function(i,mml){
                        var machineTableRow = '<tr>' +
                            '<td hidden class="memberMachineTypeId">' + mml.id + '</td>' +
                            '<td >' + mml.memberName + '</td>'+
                            '<td >' + mml.machineTypeName + '</td>'+
                            '<td >' + mml.noOfMachine + '</td>'+
                            '<td >' + mml.noOfFunctionalMachine + '</td>'+
                            '<td >' + mml.noOfNonfunctionalMachine + '</td>'+
                            '<td >' + mml.productName + '</td>'+
                            '<td class="deleteMachine"> <button class=" btn btn-danger">Delete</button>' +'</td>'
                            + '</tr>';
                        $('#memberMachineTypeListTable tbody').append(machineTableRow);
                    });   // each
                },   // end success
                error : function(e) {
                    console.log("ERROR: ", e);
                }
            });   // end ajax
        });

    </script>
    <script>
        $("#memberMachineTypeListTable").on('click','.deleteMachine',function(){
            var $row = $(this).closest("tr");    // Find the row
            var id = $row.find(".memberMachineTypeId").text();
            var formData= {
                "id" :id
            };
            $.ajax({
                type : "GET",
                url:"/samityOldController/deleteMemberMachineType",
                dataType : 'json',
                data: formData,
                success: function(result){
                    $row.remove();    // Find the row
                },   // end success
                error : function(e) {
                    console.log("ERROR: ", e);
                }
            });   // end ajax

        });
    </script>

</div>