<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{web/fragments/layout}">
<head>
    <title>Student Registration</title>
</head>
<body>

<div layout:fragment="content" class="content">
<!-- PAGE TITLE -->
    <div class="page-title">
        <div class="card bg-info text-white">
            <div class="card-body"><h5>Student Registration</h5></div>
        </div>
    </div>
<!-- END PAGE TITLE -->
 <div id="search">

     <form class="needs-validation" th:action="@{/studentregistrationcontroller/search}"    novalidate>
         <div class="row">
         <div class="col-3">
             <div class="form-group">
                 <label class="control-label mb-1">Student Name</label>
                 <input  type="text" class="form-control" aria-required="true" aria-invalid="false" name ="studentName" placeholder="studentName" >
             </div>
         </div>

         <div class="col-3">
             <div class="form-group">
                 <label class="control-label mb-1">Father Name</label>
                 <input  type="text" class="form-control" aria-required="true" aria-invalid="false" name ="fatherName" placeholder="fatherName" >
             </div>
         </div>


         <div class="col-3">
             <div class="form-group">
                 <label class="control-label mb-1">Mother Name</label>
                 <input  type="text" class="form-control" aria-required="true" aria-invalid="false" name ="motherName" placeholder="motherName" >
             </div>
         </div>

         <div class="col-3">
             <div class="form-group">
                 <label class="control-label mb-1">Contact Number</label>
                 <input   type="text" class="form-control" aria-required="true" aria-invalid="false" name="contactNo" placeholder="contactNo" >
             </div>
         </div>
         </div>

         <div class="row">
         <div class="col-3">
             <div class="form-group">
                 <label class="control-label mb-1">Registration ID</label>
                 <input   type="text" class="form-control" aria-required="true" aria-invalid="false"  name="registrationId" placeholder="Registration ID" >
             </div>
         </div>


         <div class="col-3">
             <div class="form-group">
                 <label class="control-label mb-1">Program</label>
                 <input   type="text" class="form-control" aria-required="true" aria-invalid="false"  placeholder="Program" >
             </div>
         </div>

         <div class="col-3">
             <div class="form-group">
                 <label class="control-label mb-1">Program Segment</label>
                 <input   type="text" class="form-control" aria-required="true" aria-invalid="false"  placeholder="Program Segment" >
             </div>
         </div>

         <div class="col-3">
             <div class="form-group">
                 <label class="control-label mb-1">Session</label>
                 <select id="sessionId"  name="sessionId"style="height:37px" class="form-control" aria-required="true" aria-invalid="false"  >
                     <option value="">Select</option>
                     <option th:each="sList:${sessionList}"
                             th:value="${sList.sessionId}"
                             th:utext="${sList.sessionName}"/>
                 </select>
             </div>
         </div>
         </div>

         <div class="row">
         <div class="col-3">
             <div class="form-group">
                 <label class="control-label mb-1">Registration Date</label>
                 <input  type="date" class="form-control" aria-required="true" aria-invalid="false"  name="eegistrationDate" placeholder="Registration Date" >
             </div>
         </div>

         <div class="col-3">
             <div class="form-group">
                 <label class="control-label mb-1">Date of Birth</label>
                 <input   type="date" class="form-control" aria-required="true" aria-invalid="false"  name="doB" placeholder="doB" >
             </div>
         </div>
         </div>

         <div class="col-sm-3 text-right">

             <input type="submit" value="Search" class="btn btn-primary btn-md" style="margin-top: 24px;">
             <a style="margin-top: 24px;" class="btn btn-success" th:href="@{/studentregistrationcontroller/view}" >Refresh</a>
<!--             <a class="btn btn-primary btn-md" style="margin-top: 24px;" th:href="@{/homecontroller}">Home</a>-->

         </div>
     </form> </div>
    <br/>
    <div th:replace="web/pages/student-registration/search-result :: search-result"></div>

</div>
</body>
</html>