<div th:fragment="student-information" xmlns:th="http://www.w3.org/1999/xhtml">


    <form th:object="${studentRegistrationForm}"
          th:action="@{/student-registration/save-student-informatoin}"
          method="POST" enctype="multipart/form-data">


        <div class="row">

            <!--   <div class="col-6">
    <div class="form-group row">
        <div class="form-group row upload-image">
          <div class="upload-image-preview" th:src="@{${msr.getPicturePath()}}" id="studentImage">
             </div>
              <input type="file" name="file" value="Upload Image" />
             </div>
         </div>
     </div>   -->

            <div class="col-6">
                <div class="form-group row">
                    <label class="col-md-4 control-label" for="id">Student ID</label>
                    <div class="col-md-8">
                        <input type="text" id="id" class="form-control" placeholder="Student ID" th:field="*{id}" readonly="readonly">
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group row">
                    <label class="col-md-4 control-label" for="sessionId">Session</label>
                    <div class="col-md-8">
                        <select id="sessionId" name="sessionId" style="height: 37px" class="form-control" aria-required="true" aria-invalid="false" th:field="*{sessionId}">
                            <option value="">Select</option>
                            <option th:each="sList:${sessionList}"
                                    th:value="${sList.id}"
                                    th:utext="${sList.sessionName}" />
                        </select>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group row">
                    <label class="col-md-4 control-label" for="programId">Program</label>
                    <div class="col-md-8">
                        <select id="programId" name="programId" style="height: 37px" class="form-control" aria-required="true" aria-invalid="false" th:field="*{programId}">
                            <option value="">Select</option>
                            <option th:each="sList:${programList}"
                                    th:value="${sList.id}"
                                    th:utext="${sList.programName}" />
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group row">
                    <label class="col-md-4 control-label" for="programSegmentId">Program Segment</label>
                    <div class="col-md-8">
                        <select id="programSegmentId" name="programSegmentId" style="height: 37px" class="form-control" aria-required="true" aria-invalid="false" th:field="*{programSegmentId}">
                            <option value="">Select</option>
                            <option th:each="sList:${segmentList}"
                                    th:value="${sList.id}"
                                    th:utext="${sList.segmentName}" />
                        </select>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-6">
                <div class="form-group row">
                    <label class="col-md-4 control-label" for="studentName">Student Name<span style="color: red">*</span></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Student Name" th:field="*{studentName}" id="studentName"
                               th:class="${#fields.hasErrors('studentName')} ? 'form-control is-invalid' : 'form-control'"/>
                        <!--                        <span th:class="err" th:if="${#fields.hasErrors('studentName')}" th:errors="*{studentName}" style="color: red">Please Enter your name</span>-->
                        <div th:if="${#fields.hasErrors('studentName')}" th:errors="*{studentName}" class="invalid-feedback"></div>
                    </div>
                </div>
            </div>

<!--            <div class="col-6">-->
<!--                <div class="form-group row">-->
<!--                    <label class="col-md-4 control-label" for="visualId">Visual ID</label>-->
<!--                    <div class="col-md-8">-->
<!--                        <input type="text" id="visualId" class="form-control" placeholder="Visual ID" th:field="*{visualId}">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

            <div class="col-6">
                <div class="form-group row">
                    <label class="col-md-4 control-label" for="registrationDate">Registration Date<span style="color: red">*</span></label>
                    <div class="col-md-8">
                          <input type="date" id="registrationDate" class="form-control"
                                 th:class="${#fields.hasErrors('registrationDate')} ? 'form-control is-invalid' : 'form-control'"
                                 placeholder="YYYY-MM-DD-" th:field="*{registrationDate}"/>
                        <div th:if="${#fields.hasErrors('registrationDate')}" th:errors="*{registrationDate}" class="invalid-feedback"></div>
                       </div>
                </div>
            </div>

<!--            <div class="col-md-4 mb-3">-->
<!--                <label for="dateOfBirth">জন্ম তারিখ</label>-->
<!--                <input type="date"-->
<!--                       th:class="${#fields.hasErrors('dateOfBirth')} ? 'form-control is-invalid' : 'form-control'"-->
<!--                       id="dateOfBirth" placeholder="YYYY-MM-DD-" th:field="*{dateOfBirth}" oninput="calcualteAge()">-->
<!--                <div th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"-->
<!--                     class="invalid-feedback"></div>-->
<!--            </div>-->


        </div>

        <div class="row">


            <div class="col-6">
                <div class="form-group row">
                    <label class="col-md-4 control-label" for="gender">Gender</label>
                    <div class="col-md-8">
                    <select style="height: 37px"
                            class="form-control" aria-required="true"
                            aria-invalid="false"
                            id="gender" name="relation" th:field="*{gender}" >
                        <option value=""> Select</option>
                        <option th:each="thisGender : ${genders}"
                                th:value="${thisGender.name()}"
                                th:text="${thisGender.getName()}"
                                th:selected="${thisGender} == ${gender}">
                    </select>
<!--                    <div th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"-->
<!--                         class="invalid-feedback">-->
<!--                    </div>-->
                    </div>
                </div>
               </div>


            <div class="col-6">
                <div class="form-group row">
                    <label class="col-md-4 control-label" for="bloodGroup">Blood Group</label>
                    <div class="col-md-8">
                        <select id="bloodGroup" style="height: 37px" class="form-control" aria-required="true" aria-invalid="false" th:field="*{bloodGroup}">
                            <option value="">Select</option>
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">


            <div class="col-6">
                <div class="form-group row">
                    <label class="col-md-4 control-label" for="doB">Date of Birth<span style="color: red">*</span></label>
                    <div class="col-md-8">
                        <input type="date" id="doB" class="form-control"
                               th:class="${#fields.hasErrors('doB')} ? 'form-control is-invalid' : 'form-control'"
                               placeholder="YYYY-MM-DD-" th:field="*{doB}" oninput="calcualteAge()"/>
                        <div th:if="${#fields.hasErrors('doB')}" th:errors="*{doB}" class="invalid-feedback"></div>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group row">
                    <label class="col-md-4 control-label" for="contactNo">Contact Number</label>
                    <div class="col-md-8">
                        <input type="text"  id="contactNo" class="form-control" placeholder="Contact Number" th:field="*{contactNo}">
                    </div>
                </div>
            </div>


        </div>



        <div class="row">
            <div class="col-6">
                <div class="form-group row">
                    <label class="col-md-4 control-label" for="fatherName">Father Name<span style="color: red">*</span></label>
                    <div class="col-md-8">
                        <input type="text" id="fatherName"  class="form-control"
                               th:class="${#fields.hasErrors('fatherName')} ? 'form-control is-invalid' : 'form-control'"
                               placeholder="Father Name" th:field="*{fatherName}"/>
                        <div th:if="${#fields.hasErrors('fatherName')}" th:errors="*{fatherName}" class="invalid-feedback"></div>
                    </div>
                </div>
            </div>



            <div class="col-6">
                <div class="form-group row">
                    <label class="col-md-4 control-label" for="motherName" >Mother Name<span style="color: red">*</span></label>
                    <div class="col-md-8">
                        <input type="text" id="motherName" class="form-control"
                               th:class="${#fields.hasErrors('motherName')} ? 'form-control is-invalid' : 'form-control'"
                               placeholder="Mother Name" th:field="*{motherName}"/>
                        <div th:if="${#fields.hasErrors('motherName')}" th:errors="*{motherName}" class="invalid-feedback"></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                <div class="form-group row">
                    <label class="col-md-4 control-label" for="presentAdd">Present Address</label>
                    <div class="col-md-8">
                        <textarea rows="2" class="form-control" id="presentAdd" style="width: 100%" th:field="*{presentAdd}"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group row">
                    <label class="col-md-4 control-label" for="presentAddPostcode">Present Address Code</label>
                    <div class="col-md-8">
                        <input type="text" id="presentAddPostcode" class="form-control" placeholder="Present Address Code" th:field="*{presentAddPostcode}">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-6">
                <div class="form-group row">
                    <label class="col-md-4 control-label" for="permanentAdd">Permanent Address</label>
                    <div class="col-md-8">
                        <textarea rows="2" class="form-control" id="permanentAdd" style="width: 100%" th:field="*{permanentAdd}"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group row">
                    <label class="col-md-4 control-label" for="permanentAddPostCode">Permanent Address Code</label>
                    <div class="col-md-8">
                        <input type="text" id="permanentAddPostCode" class="form-control" placeholder="Permanent Address Code" th:field="*{permanentAddPostCode}">
                    </div>
                </div>
            </div>
        </div>


        <div class="row">


            <div class="col-6">
                <div class="form-group row">
                    <label class="col-md-4 control-label" for="remarks">Remark </label>
                    <div class="col-md-8">
                        <textarea rows="2" class="form-control" id="remarks" th:field="*{remarks}"></textarea>
                    </div>
                </div>
            </div>


        </div>

        <div class="row">




        </div>


        <br>

        <div class="modal-footer">
            <input type="submit" value="Save" class="btn btn-success" style="margin-top: 24px;">
            <a style="margin-top: 24px;" class="btn btn-secondary" th:href="@{/student-registration/create}" id="refreshBtn">Refresh</a>
        </div>
        <br> <br>
    </form>



    <script>
        $('#districtId').change(
            function() {
                $.getJSON("/samityOldController/getUpzilla", {
                    districtId : $(this).val(),
                    ajax : 'true'
                }, function(data) {
                    var html = '<option value="">-- নির্বাচন করুন --</option>';
                    var len = data.length;
                    for ( var i = 0; i < len; i++) {
                        html += '<option value="' + data[i].id + '">'
                            + data[i].upzillaName + '</option>';
                    }
                    html += '</option>';
                    $('#upzillaId').html(html);
                });
            });

        $('#upzillaId').change(
            function() {
                $.getJSON("/samityOldController/getUnion", {
                    upzillaId : $(this).val(),
                    ajax : 'true'
                }, function(data) {
                    var html = '<option value="">-- নির্বাচন করুন --</option>';
                    var len = data.length;
                    for ( var i = 0; i < len; i++) {
                        html += '<option value="' + data[i].id + '">'
                            + data[i].unionName + '</option>';
                    }
                    html += '</option>';
                    $('#unionId').html(html);
                });
            });

    </script>
    <script >
        $( document ).ready(function() {
            const samityId =$('#id').val();
            var uId=null;
            if(samityId!=null && samityId!=""){
                $.getJSON("/samityOldController/findUnionIdBySamityId", {
                    samityId : samityId,
                    ajax : 'true'
                }, function(unionId) {
                   uId=unionId;
                });
            }

            if(samityId!=null && samityId!=""){
                $.getJSON("/samityOldController/findDistrictIdBySamityId", {
                    samityId : samityId,
                    ajax : 'true'
                }, function(districtId) {
                   $('#districtId').val(districtId);
                    loadUpzilla(districtId);
                    $.getJSON("/samityOldController/findUpzillaIdBySamityId", {
                        samityId : samityId,
                        ajax : 'true'
                    }, function(upzillaId) {
                        loadUnion(upzillaId,uId);
                    });

                });
            }  // if condition end here
        });
    </script>




</div>